<div class="container-fluid">
  <!-- Search Form -->
  <form class="row" [formGroup]="searchForm" (submit)="onSearch()">
    <div class="col-9 form-group">
      <input type="text" class="form-control" placeholder="Search" formControlName="dataToSearch">
    </div>
    <div class="col-3 text-center">
      <button style="min-width: 70px" class="btn btn-block btn-outline-light justify-content-center" type="submit">Search</button>
    </div>
  </form>
  <hr>
  <!-- Search results -->
  <div class="row">
    <div *ngIf="!boolShowSpinner || this.searchResult.length > 0" class="col">
      <div *ngFor="let user of this.searchResult">
        <app-user-info [user]="user"></app-user-info>
      </div>
    </div>
    <div *ngIf="boolShowSpinner && this.searchResult.length === 0" class="col-12 text-center">
      <app-spinner></app-spinner>
    </div>
    <div class="col-12 text-center">
      <button *ngIf="!boolShowSpinner && this.searchResult.length > 0 && !this.boolEndOFPage" class="btn btn-outline-light btn-lg" (click)="onShowMore()">
        Show More
      </button>
    </div>
    <div *ngIf="!boolShowSpinner && this.searchResult.length === 0" class="col text-center">
      No user found
    </div>
  </div>
</div>
