<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-creator-post></app-creator-post>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Description</p>
    </div>
  </div>
  <!-- Carousel -->
  <div class="row">
    <div class="col-6" style="padding-top: 5px; padding-bottom: 5px;">
      <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTzxkSe-p_43TKPDvZClmRXQOyitUp79kcCtDu6o95DtdoYfSYy" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-3" style="min-width: 100px">
      <button type="button" class="btn btn-outline-success btn-block"><i class="fa fa-heart-o" aria-hidden="true"></i> Like</button>
    </div>
    <div class="col-3" style="min-width: 140px">
      <button type="button" class="btn btn-outline-info btn-block"><i class="fa fa-comment-o" aria-hidden="true"></i> Comment</button>
    </div>
  </div>
</div>
