<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-creator-post [strDate]="Post.datePublished"></app-creator-post>
    </div>
  </div>
  <div class="row">
    <div class="col" style="margin: 10px;">
      <p> {{ Post.strDescription }}</p>
    </div>
  </div>
  <!-- Carousel -->
  <div class="row" *ngFor="let photo of Post.arrMedia">
    <div class="col-6" style="padding-top: 5px; padding-bottom: 5px;">
      <img class="img-fluid" src="{{ photo }}" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-2" style="min-width: 100px">
      <button type="button" class="btn btn-outline-success btn-block"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
    </div>
    <div class="col-2" style="padding-top: 10px">
      <a>{{ Post.arrLikes }}</a>
    </div>
    <div class="col-2" style="min-width: 100px">
      <button type="button" class="btn btn-outline-info btn-block"><i class="fa fa-comment-o" aria-hidden="true"></i></button>
    </div>
    <div class="col-2" style="padding-top: 10px">
      <a>{{ Post.arrComments }}</a>
    </div>
  </div>
</div>
