<div class="container-fluid" *ngIf="!boolShowSpinnerDetails && !boolError">
  <!-- User info here-->
  <app-profile-details [User]="User"></app-profile-details>

  <!-- Posts -->
  <div class="row">
    <div class="col">
      <app-post-element></app-post-element>
    </div>
  </div>
</div>
<!-- Spinner -->
<div class="container-fluid" *ngIf="boolShowSpinnerDetails">
  <div class="row">
    <div class="col-12 text-center">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

<!-- no user found -->
<div class="container-fluid" *ngIf="!boolShowSpinnerDetails && boolError" style="padding: 50px;">
  <div class="row">
    <div class="col-12 text-center">
      no user found
    </div>
  </div>
</div>
