<div class="container-fluid" [routerLink]="['/Profile', user.strUserName]">
  <div class="row">
    <div class="col-3 text-center" style="min-width: 60px; max-width: 200px;">
      <img
        class="rounded-circle"
        onerror="this.onerror=null; this.src='../../../../assets/images/user.png'"
        src="{{ user.imgProfile }}">
    </div>
    <div class="col-6" style="padding-right: 0px">
      <h5 style="margin-bottom: 0px">
        {{ user.strName }}
      </h5>
      <p style="margin-bottom: 0px">
        {{ user.strUserName }}
      </p>
      <p style="margin-bottom: 0px">
        description
      </p>
    </div>
    <div class="col-3 text-center" style="padding-left: 0px">
      <button *ngIf="true" class="btn btn-outline-light justify-content-center" type="button">Follow</button>
      <button  *ngIf="false" style="font-size: 1.3vmax;" class="btn btn-outline-danger justify-content-center" type="button">Unfollow</button>
    </div>
  </div>
</div>
